

/*分页控件样式start*/
.paginator { font-size: 12px;padding:10px 20px 10px 0; margin: 0px;}
.paginator a {padding: 5px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;margin-right:2px;color:#000;}
.paginator a:visited {padding: 5px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;color:#fff;}
.paginator .cpb {padding: 5px 6px;font-weight: bold; background:#FFF600;color:#fff;}
.paginator a:hover {color: #FF7200;}
.paginator input{ width:50px; height:20px; border:solid 1px #CCC;text-align:center; }
.paginator .submit{ background-color:#E8E8E8; border:solid 1px #CCC; text-align:center; padding: 5px 6px; color:#000; cursor:pointer;height:24px; width:45px;}
.paginator .submit:hover{ background-color:#EF4835; text-decoration:none; color:#FFF;}
/*分页控件样式end*/